# i18n Configuration
APP_DEFAULT_LOCALE="en"
APP_FALLBACK_LOCALE="en"
APP_SUPPORTED_LOCALES="en|fr"

# Application Mode - app or webgl or...
APP_MODE="app"

# Preview Mode
# Can be used to hide features on production but enable them on the staging.
# It has nothing to do with the preview mode of a CMS.
APP_PREVIEW="true"

# Public Path
# Public path for assets delivery
APP_PUBLIC_PATH="http://localhost:3000/"

# Server Port
SERVER_PORT="3000"
